// Define color variables
$background-body: #f1f2f4;
$background-header: #ffffff;
$search-bg: #f0f5ff;
$button-primary: #ff9f00;
$button-secondary: #2a55e5;
$footer-bg: #212121;
$text-footer: #5f6d6d;
$text-footer-heading: #7a8787;
$text-white: #fff;
$border-color: #e0e0e0;